/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
!vendor/symfony/symfony/src/Symfony/Bridge/Twig/Resources/views/Form/
/bin/
/nbproject/*
/composer.phar
web/config.php
app/check.php
app/SymfonyRequirements.php
composer.lock
/web/uploads/import/