
<div class="row {{ (app.request.attributes.get('_route') == 'fos_user_security_login') ? 'hidden' }}" style="padding-top:40px;">
    <footer class="footer">
        <p class="text-muted" style="margin-top: 20px;margin-left: 15px;">&copy; Expeditor </p>
    </footer>  
</div>
