user:
    resource: "@UserBundle/Resources/config/routing.yml"
    prefix:   /

user_bundle:
   resource: "@UserBundle/Resources/config/routing.yml"

# app:
#    resource: "@AppBundle/Resources/config/routing.yml"
#    prefix:   /

# app_bundle:
#    resource: "@AppBundle/Resources/config/routing.yml"
#    
commandes_liste:
    path:      /commandes
    defaults:  { _controller: AppBundle:Commande:index }
    
commandes_import:
    path:      /commandes/import
    defaults:  { _controller: AppBundle:Commande:import }
    
start:
    path:      /start
    defaults:  { _controller: AppBundle:Commande:next }  
    
commande_show:
    path:      /commande/{id}
    defaults:  { _controller: AppBundle:Commande:show }  
    
commande_free:
    path:      /commande/freedom/{id}
    defaults:  { _controller: AppBundle:Commande:free }  
    
commande_update:
    path:      /commande/update/{id}
    defaults:  { _controller: AppBundle:Commande:update }  
    
commande_finish:
    path:      /commande/finish/{id}
    defaults:  { _controller: AppBundle:Commande:finish } 
    
commande_print:
    path:      /commande/print/{id}
    defaults:  { _controller: AppBundle:Commande:print }  
    
articles_liste:
    path:      /articles
    defaults:  { _controller: AppBundle:Article:index }  
    
article_update:
    path:      /article/{id}
    defaults:  { _controller: AppBundle:Article:update }
    
article_remove:
    path:      /article/remove/{id}
    defaults:  { _controller: AppBundle:Article:remove }
