# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        # Tout les utilisateurs ont le rôle user
        # Le manager à aussi le rôle admin
        ROLE_USER:  ROLE_USER
        ROLE_ADMIN: ROLE_ADMIN
        ROLE_MANAGER: ROLE_MANAGER
        ROLE_EMPLOYE: ROLE_EMPLOYE

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_token_generator: security.csrf.token_manager
            
            logout:       true
            anonymous:    true
            
    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        # - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        # - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        # Listing des commandes
        - { path: ^/commandes$, role: ROLE_MANAGER }                
        # Commencer (ou reprendre) une commande
        - { path: ^/start/, role: ROLE_EMPLOYE }                    
        # Voir le détail d'une commande
        - { path: ^/commande/, role: ROLE_EMPLOYE ROLE_MANAGER }
        # Libérer une commande dans le cas d'absence de l'employe qui l'avais commencé
        - { path: ^/commande/freedom/, role: ROLE_MANAGER }
        # Mise à jour en ajax d'une commande (changer la quantité)
        - { path: ^/commande/update/, role: ROLE_EMPLOYE }
        # Finaliser une commande
        - { path: ^/commande/finish/, role: ROLE_EMPLOYE }   
        # Imprimer une commande
        - { path: ^/commande/print/, role: ROLE_EMPLOYE }
        # Lister les articles
        - { path: ^/articles$, role: ROLE_MANAGER }
        # Modifier un article
        - { path: ^/article/, role: ROLE_MANAGER }
        # Lister les employés
        - { path: ^/employes$, role: ROLE_MANAGER }
        - { path: ^/employe/, role: ROLE_MANAGER }
     
  