{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                Statistiques du jour
            </h1>
        </div>
    </div>
   <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr><th>Employe</th><th>Commandes traitées</th></tr>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat.username }}</td>
                        <td>{{ stat.1 }}</td>
                 
                    </tr>   
                {% endfor %}
            </table>        
        </div>
    </div> 
    
{% endblock %}