{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1> Modification d'un employé </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
              {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
      </div>
    </div>
{% endblock  %}